@import './home.scss';
@import './register.scss';
@import './login.scss';
@import './pagefooter.scss';
@import './pagenavbar.scss';
@import './pagefooter.scss';
@import './reviewsingle.scss';
@import './reviewform.scss';
@import './notFound.scss';

* {
  text-decoration: none;

  font-family: Arial, Helvetica, sans-serif;
}

// .main {
//   min-height: calc(100vh - 131px - 80px);
//   background-color: black;
//   background-position: center;
//   background-size: cover;
//   background-repeat: no-repeat;
// }

.App {
  margin: 0 auto;
  background-image: url('./images/bikepacked.jpeg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

// buttons
.submit {
  background-color: green;
  color: white;
  margin:10px;
  &:hover {
    background-color: greenyellow;
}
}

.button-container {
  display: flex;
  padding: 10px;

.edit-button {
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: orange;
  color:white;
  width: 100px;
  height: 35px;
  margin: 10px;
  border-radius: 5px;
  text-decoration: none;
    &:hover{
    background-color: yellow;
    color: grey;
    }
}
}
.delete-button {
  all: unset;
  background-color: darkred;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
  width: 100px;
  height: 35px;
  margin: 10px;
    &:hover {
    background-color: red;
    }
}


.back-button-container {
  padding: 10px;
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.back-button {
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: green;
  text-decoration: none;
  color:white;
  width: 160px;
  height: 35px;
  border-radius: 5px;
    &:hover {
    background-color: greenyellow;
    color: grey;
    }
}