.footer-main {
  min-width: 100vw;
  background-color: rgba(0,0,0,0.8);
  position: absolute;
  margin: 0;
  height: 125px;
  color: white;
}

.footer-container {
  display: flex;
  justify-content: center;
  min-width: 100vw;
  height:13vh;
  text-align: center;
  padding-top: 5px;
  p {
    text-align: center;
  }
  
}
.footer-header {
  text-align: center;
  min-width: 100vw;
}

.Mark {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5px; 
  padding: 5px 20px 20px 20px;
  color: white;
  
}

.Logo {
  height:42px;
  display: flex;
  justify-content: center;
  width:42px;
  margin-top: 10px;
  background-color: white;
}