.footer-main {
  min-width: 100vw;
  background-color: black;
  margin: 0;
  height: 80px;
  color: white;
  bottom: 0;
}

.footer-container {
  display: flex;
  justify-content: center;
  min-width: 100vw;
  height: 50px;
  text-align: center;
  padding-top: 5px;

}

.footer-header {
  text-align: center;
  min-width: 100vw;
  padding-right: 100px;
}

.Mark {
  display: flex;
  align-items: flex-end;
  margin-bottom: 10px; 
  .muyuela {
  color: rgba(255,255,255,0.7);
  text-decoration: none;
  margin-right: 10px;
  &:hover {
    color: white;
  }
  }
}

.Logo {
  height:50px;
  display: flex;
  justify-content: center;
  width:50px;
  margin-top: 10px;
  opacity: 0.8;
  &:hover {
    opacity: 1;
  }

}

.linkedin {
  height: 100%;
  width: 100%; 
}
