


.navbar-main {
  display: flex;
  justify-content: space-a;
  background-color: rgba(0,0,0,0.8);
  color: white;
  padding: 10px;
  min-width: 100vw;
}

.navbar {
  min-width: 350px;

  .navbar-brand {
    margin-right: 0px;
    margin-left: 50px;
  }
  .nav-link {
    margin-inline: 10px;
    display: flex;
    justify-content: flex-end;
    color: white;
    padding-right: 20px;
  }
}

.icon {
  max-width: 40px;
  opacity: 0.9;
  &:hover {
    opacity: 1;
  } 

}

.bike {
  max-width: 50px;
  opacity: 0.9;
  &:hover {
    opacity: 1;
  }
}

.banner {
  max-width: 600px;
  font-weight: bolder;
  font-size: 8vh;
  text-align: center;
  font-family: 'Permanent Marker', cursive;
}

.navbar-link {
  margin: 0 auto;
  opacity: 0.8;
  &:hover {
    opacity: 1;
  }
}

@media screen and (max-width: 768px) {
  .banner {
    font-size: 5vh;
    font-family: 'Permanent Marker', cursive;
  }
}

