.review-container {
  display: flex;
  justify-content: center;
}

.review-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0,0,0,0.9);
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 85vw;
}

.review-title {
  padding: 20px;
}

.review-description {
  white-space: pre-wrap;
  white-space: pre-line;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow-wrap: break-word;
  width: 80vw;
  padding-left: 10px;
  padding-right: 10px;

}

.review-image {
  img{
  display: flex;
  justify-content: center;
  width: 75vw;
  padding: 20px;
  }
}


.comment-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comment {
  display: flex;
  flex-direction: column;
  width: 80vw;
  padding: 10px;
  background-color: white;
  margin-bottom: 10px;
  max-width: 80vw;
  display: flex;
}

.leave-comment-container {
  background-color: rgba(0,0,0,0.8);
  color: white;
  margin: 0 auto;
  margin-bottom: 10px;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  width: 80vw;
}

.leave-comment {
  display: flex;
  justify-content: center;
  .comment-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70vw;
  }
}